.btn {
  border-radius: map-get($dimensions, "btn-border-radius");
}

#login {
  border: map-get($colors, "orange");
  background: map-get($colors, "orange");

  &:hover {
    border: 2px solid $gray-800;
  }
}

.image {
  transform: rotate(17deg);
}
